<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <if condition='isNull("CLOUDWATCH_FORMAT")'>
                    <then>
                        %clr(%d{yyyy-MM-dd hh:mm:ss.SSS}){cyan} %clr([%thread]){magenta} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(%-40.40logger{39}){blue} - %msg%n
                    </then>
                    <else>
                        <!-- CloudWatch will add a timestamp for you -->
                        [%thread] %level %logger - %msg %replace(&#13;%ex){'\n', '&#13;'}%nopex%n
                    </else>
                </if>
            </pattern>
        </encoder>
    </appender>

    <logger name="net.nicholaspurdy.gtrslicegrabber" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>